<%- include("../partials/header") %>

    <!-- <div class="row" id="imgUpload" style="display: flex;">
      <form action="/upload" method="post" enctype="multipart/form-data"></form>
      <div class="input-group mb-4 border border-primary pr-2 pl-2">
        <div class="custom-file">
          <input type="file" accept="image/*" name="image">
        </div>
        <div class="input-group-append">
          <input type="submit" value="upload" class="mt-2 mb-2">
        </div>
      </div>
      </form>
    </div> -->

    <form action="/post/uploadFile" method="post" enctype="multipart/form-data">
        <input type="file" name="avatar" />
        <input type="submit" value="sdas">
      </form>

<%- include("../partials/footer") %>